<%= form_for(@l_ink) do |f| %>
  <% if @l_ink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@l_ink.errors.count, "error") %> prohibited this l_ink from being saved:</h2>

      <ul>
      <% @l_ink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
